* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  overflow: hidden;
}

/* Navbar Section */
#navbar {
  background-image: url(https://cdn.pixabay.com/photo/2019/09/12/19/50/boats-4472502_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
}

.top-nav {
  display: flex;
  position: relative;
  width: 100vw;
  top: 1rem;
  padding: 0rem 2rem;
  margin: 0rem 0rem;
  justify-content: space-between;
  align-items: center;
}

.top-nav h1 {
  font-size: 1.5rem;
}

.top-nav i {
  background-color: transparent;
  color: white;
  font-size: larger;
  cursor: pointer;
}

.mid-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 30%;
  color: white;
}

.mid-nav h1 {
  font-size: 3rem;
}

.mid-nav p {
  font-size: 1.25rem;
  margin: 1rem 0rem;
}

.mid-nav-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: .75rem 1.5rem;
}

.explore-btn {
  padding: 0rem 2rem;
  margin: 0.1rem 1rem;
  height: 2rem;
  border-radius: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  background-color: #e7185d;
}

.download-btn {
  padding: 0rem 2rem;
  margin: 0.1rem 1rem;
  height: 2rem;
  border-radius: 1rem;
  font-weight: bold;
  color: white;
  border: 0.1rem solid white;
  background-color: transparent;
  backdrop-filter: blur(0.05rem);
}


/* Work Section */
.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.work-header {
  height: 25%;
}

.work-header h1 {
  font-size: 2.5rem;
  margin: 1rem 0rem;
}

.work-header h4 {
  color: #e2ad78;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.work-body {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  width: 75%;
  height: 75%;
  margin: 1rem;
}

.gallary-1 {
  grid-column: 1/3;
  background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallary-2 {
  grid-row: 1/3;
  grid-column: 3/5;
  background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallary-3 {
  background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gallary-4 {
  background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Apartment Section */
.apartment-container {
  width: 100vw;
}

.apt-header h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0rem;
}

.apt-card-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}

.card-row1,
.card-row2 {
  display: flex;
  flex-direction: row;
}

.apt-card {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: white;
}

.apt-card img {
  width: 50%;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  gap: 0.5rem;
  margin: 0 auto;
}

.card-details button {
  cursor: pointer;
  font-weight: bold;
  padding: 0.1rem 0.5rem;
}

.apt-retings {
  color: #fc728f;
  font-size: small;
  margin: 0.75rem 0 0 0;
}

.apt-room-info {
  margin: 0 auto;
  text-align: left;
}

.apt-room-info p {
  margin: 0.10rem 0rem;
}


/* Blog Section */
.blog-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blog-header h1 {
  font-size: 2rem;
  margin: 2rem 0;
}

.blog-container-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  justify-content: center;
  width: 85%;
}

.post-card-container {
  grid-column: 1/3;
  grid-row: 1/1;
}

.post-card-container h3 {
  font-size: 1.3rem;
}

.card-col1 {
  display: inline-flex;
  flex-direction: row;
  margin: 0.25rem 0rem;
}

.card-col2 {
  display: inline-flex;
  flex-direction: row;
  margin: 0.25rem 0rem;
}

.card-col3 {
  display: inline-flex;
  flex-direction: row;
  margin: 0.25rem 0rem;
}

.card {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.card img {
  width: auto;
  height: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.card-body {
  margin: 0.25rem 0.5rem;
  text-align: left;
  justify-content: center;
}

.card-body h5 {
  margin: 0.5rem 0rem;
  font-size: 1rem;
}

.card-body p {
  margin: 0.5rem 0rem;
  font-size: 0.85rem;
}

.our-vision {
  grid-column: 3/3;
  grid-row: 1/1;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.our-vision h3 {
  font-size: 1.3rem;
  margin-bottom: 1.75rem;
}

.vision-body {
  line-height: 1.75;
}

.social-handles {
  margin: 2rem 1rem 2rem 0rem;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}

.social-handles i {
  margin: 0rem 0.25rem;
}


/* Tag Section */
.tag-container {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.tag-container h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.tags {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}

.tags button {
  margin: 0.25rem 0.5rem;
  padding: 0 0.75rem;
  line-height: 2;
  border-style: none;
  background-color: azure;
  font-size: 0.75rem;
  font-weight: bold;
}

/* Tablet */
@media screen and (min-width: 425px) and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  main {
    overflow: hidden;
  }

  /* Navbar Section */
  #navbar {
    background-image: url(https://cdn.pixabay.com/photo/2019/09/12/19/50/boats-4472502_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
  }

  .top-nav {
    display: flex;
    position: relative;
    width: 100vw;
    height: 10vh;
    top: 0;
    padding: 0rem 2rem;
    margin: 0rem 0rem;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(0.05rem);
  }

  .top-nav h1 {
    font-size: 1.5rem;
  }

  .top-nav i {
    background-color: transparent;
    color: white;
    font-size: larger;
    cursor: pointer;
  }

  .mid-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 20%;
    color: white;
  }

  .mid-nav h1 {
    font-size: 2.5rem;
    backdrop-filter: blur(0.05rem);
  }

  .mid-nav p {
    font-size: 1rem;
    margin: 1rem 0rem;
    width: 90%;
    backdrop-filter: blur(0.05rem);
    color: white;
  }

  .mid-nav-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.75rem 1.5rem;
  }

  .explore-btn {
    padding: 0rem 2rem;
    margin: 0.5rem 1rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    font-weight: bold;
    border: none;
    background-color: #e7185d;
  }

  .download-btn {
    padding: 0rem 2rem;
    margin: 0.5rem 1rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    font-weight: bold;
    border: 0.1rem solid white;
    background-color: transparent;
    backdrop-filter: blur(0.05rem);
  }

  /* Blog Section */
  .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

  .work-header {
    height: 25%;
  }

  .work-header h1 {
    font-size: 2rem;
    margin: 1rem 0rem;
  }

  .work-header h4 {
    color: #e2ad78;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .work-body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    width: 80%;
    height: 100%;
  }

  .gallary-1 {
    grid-column: 1/5;
    grid-row: 1/2;
    background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gallary-2 {
    grid-column: 1/3;
    grid-row: 2/3;
    background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gallary-3 {
    grid-column: 3/5;
    grid-row: 2/3;
    background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .gallary-4 {
    grid-column: 1/5;
    grid-row: 3/4;
    background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Apartment Section */
  .apartment-container {
    width: 100vw;
  }

  .apt-header h1 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0rem;
  }

  .apt-card-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
  }

  .card-row1,
  .card-row2 {
    display: flex;
    flex-direction: column;
  }

  .apt-card {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0rem 0rem 0.25rem black;
    margin: 1rem 0;
  }

  .apt-card img {
    width: 50%;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    gap: 0.5rem;
    margin: 0 auto;
  }

  .card-details button {
    cursor: pointer;
    font-weight: bold;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem 0;
  }

  .apt-retings {
    color: #fc728f;
    font-size: small;
    margin: 0.75rem 0 0 0;
  }

  .apt-room-info {
    margin: 0 auto;
    text-align: left;
  }

  .apt-room-info p {
    margin: 0.10rem 0rem;
  }

  /* Blog Section */
  .blog-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blog-header h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .blog-container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .post-card-container {
    margin: 1rem 0;
  }

  .post-card-container h3 {
    font-size: 1.5rem;
    margin: 0 0 0.25rem 0;
  }

  .card-col1 {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
  }

  .card-col2 {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
  }

  .card-col3 {
    display: inline-flex;
    flex-direction: row;
    margin: 0;
  }

  .card {
    margin: 0.75rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    background-color: lightgrey;
  }

  .card img {
    width: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .card-body {
    margin: 0.25rem 0.5rem;
    text-align: left;
    justify-content: center;
  }

  .card-body h5 {
    margin: 0.5rem 0rem;
    font-size: 0.75rem;
  }

  .card-body p {
    margin: 0.5rem 0rem;
    font-size: 0.75rem;
  }

  .our-vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }

  .our-vision h3 {
    font-size: 1.75rem;
    margin: 1.5rem 0 1rem 0;
  }

  .vision-body {
    line-height: 2.25;
  }

  .social-handles {
    margin: 2rem 1rem 2rem 0rem;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .social-handles i {
    margin: 0rem 0.25rem;
  }


  /* Tag Section */
  .tag-container {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0 0 0;
    background-color: grey;
  }

  .tag-container h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .tags {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0;
  }

  .tags button {
    margin: 0.75rem 0.5rem;
    padding: 0 0.75rem;
    line-height: 1.75;
    border-style: none;
    background-color: lightgrey;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
  }
}

/* Smartphone */
@media screen and (max-width: 424px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  main {
    overflow: hidden;
  }

  /* Navbar Section */
  #navbar {
    background-image: url(https://cdn.pixabay.com/photo/2019/09/12/19/50/boats-4472502_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
  }

  .top-nav {
    display: flex;
    position: relative;
    top: 0.0rem;
    padding: 0rem 1rem;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(0.05rem);
    height: 3rem;
  }

  .top-nav h1 {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .top-nav i {
    background-color: transparent;
    color: white;
    font-size: larger;
    cursor: pointer;
    padding: 0 1rem;
  }

  .mid-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 20%;
    color: white;
  }

  .mid-nav h1 {
    font-size: 2.5rem;
    backdrop-filter: blur(0.05rem);
    margin: 0.5rem 0rem;
  }

  .mid-nav p {
    font-size: 1rem;
    margin: 0.5rem 0rem;
    backdrop-filter: blur(0.05rem);
    width: 90%;
  }

  .mid-nav-btn {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1.25rem 0;
  }

  .explore-btn {
    margin: 0.5rem 0;
    height: 2.5rem;
    border-radius: 1.5rem;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #e7185d;
    cursor: pointer;
  }

  .download-btn {
    margin: 0.5rem 0;
    height: 2.5rem;
    border-radius: 1.5rem;
    font-weight: bold;
    color: white;
    border: 0.1rem solid white;
    background-color: transparent;
    backdrop-filter: blur(0.075rem);
    cursor: pointer;
  }


  /* Work Section */
  .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100dvw;
    height: 0 auto;
  }

  .work-header {
    width: 90%;
    height: 20%;
  }

  .work-header h1 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem 0rem;
  }

  .work-header h4 {
    color: #e2ad78;
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
  }

  .work-body {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-items: center;
    align-items: center;
  }

  .gallary-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 80%;
  }

  .gallary-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 80%;
  }

  .gallary-3 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 80%;
  }

  .gallary-4 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url("https://preview.colorlib.com/theme/hiroto/img/home-room/hr-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 80%;
  }


  /* Apartment Section */
  .apartment-container {
    width: 100vw;
  }

  .apt-header h1 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0rem;
  }

  .apt-card-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
  }

  .card-row1,
  .card-row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .apt-card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 1rem;
    box-shadow: 0rem 0rem 0.25rem black;
  }

  .apt-card img {
    width: 100%;
  }

  .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
    gap: 0.5rem;
    margin: 0.5rem auto;
  }

  .card-details button {
    cursor: pointer;
    font-weight: bold;
    padding: 0.1rem 0.5rem;
  }

  .apt-retings {
    color: #fc728f;
    font-size: small;
    margin: 0.25rem 0 0 0;
  }

  .apt-room-info {
    margin: 0 auto;
    text-align: left;
  }

  .apt-room-info p {
    margin: 0.10rem 0rem;
  }


  /* Blog Section */
  .blog-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .blog-header h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .blog-container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .post-card-container {
    margin: 1rem 0;
  }

  .post-card-container h3 {
    font-size: 1.5rem;
    margin: 0 0 0.25rem 0;
  }

  .card-col1 {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
  }

  .card-col2 {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
  }

  .card-col3 {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
  }

  .card {
    margin: 0.75rem 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    background-color: lightgrey;
    width: 90%;
  }

  .card img {
    width: auto;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
    margin: 1rem;
  }

  .card-body {
    margin: 0.25rem 0.5rem;
    text-align: left;
    justify-content: center;
  }

  .card-body h5 {
    margin: 0.5rem 0rem;
    font-size: 1rem;
  }

  .card-body p {
    margin: 0.5rem 0rem;
    font-size: 0.75rem;
  }

  .our-vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
  }

  .our-vision h3 {
    font-size: 1.75rem;
    margin: 1.5rem 0 1rem 0;
  }

  .vision-body {
    line-height: 2.25;
  }

  .social-handles {
    margin: 2rem 1rem 2rem 0rem;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .social-handles i {
    margin: 0rem 0.25rem;
  }


  /* Tag Section */
  .tag-container {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0 0 0;
    background-color: grey;
  }

  .tag-container h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .tags {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0;
  }

  .tags button {
    margin: 0.75rem 0.5rem;
    padding: 0 0.75rem;
    line-height: 1.75;
    border-style: none;
    background-color: lightgrey;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
  }
}